torch
torchvision
hydra-core
numpy
tqdm
matplotlib
scipy
imageio
timm
tensorboard
termcolor
git+https://github.com/NVlabs/tiny-cuda-nn/#subdirectory=bindings/torch
git+https://github.com/Alehandreus/bvh
